/* Estilos para o componente de perguntas */

.question-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 25px;
  }
  
  .options-list {
    list-style-type: none;
    padding: 0;
  
    li {
      margin-bottom: 10px;
  
      button {
        width: 300px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #f0f0f0;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #e0e0e0;
        }
  
        &:disabled {
          cursor: not-allowed;
          background-color: #ddd;
        }
      }
    }
  }
  
  .explanation {
    margin-top: 20px;
  
    .correct {
      color: green;
    }
  
    .incorrect {
      color: red;
    }
  }
  